/* animations */

@-webkit-keyframes linearGradient {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}
@-moz-keyframes linearGradient {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}
@keyframes linearGradient {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}

:root{
  --white: #fff;
  --first-color:  rgb(36, 38, 44);
  --hover-white:  #a5a5a5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

body{
  background: linear-gradient(270deg, #8d00bf, #009bbf, #ff9b2a, #2cff4b);
  background-size: 600% 600%;

  -webkit-animation: linearGradient 40s ease infinite;
  -moz-animation: linearGradient 40s ease infinite;
  animation: linearGradient 40s ease infinite;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  height: 80vh;
}

.titleods{
  display: block;
  margin: 2rem 0 0 2rem;  
}

h1 {
  --offset: 400px;
  color: var(--first-color);
  font-size: 48px;
}
  span {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/spectrum.svg);
    background-repeat: repeat-x;
    background-size: 100vw 0.2em;
    background-position: left bottom 5px;
    background-position-x: var(--scrollPos);
    &:nth-of-type(2) {
    background-position-x: calc(var(--offset) + var(--scrollPos));
    }
  }

.btn-know-more{
  width: 180px;
  text-align: left;
  border: none;
  border-radius: 8px;
  font-size: 10px;
  padding: 10px;
  background-color: var(--white);
  color: var(--first-color);
  cursor: pointer;
  transition: all .4s;
  font-family: 'Roboto' sans-serif;

  margin-top: 50px;
}

.btn-know-more:hover{
  background-color: var(--hover-white);

}


.box{
  height: 400px;
  width: 400px;
  background: url("https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-1.svg") no-repeat center center;
  background-size: cover;
  position: relative;
  flex-direction: column;

  box-shadow: 1 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  color: var(--white);
  overflow: hidden;
}

.left_container{
  position: absolute;
  background: var(--first-color);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 40px 0 0 20px;
  transition: all .4s;
}

.arr_container, .cancel{
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--first-color);
  bottom: 0;
  right: 0;
  border-radius: 20px 0 20px 0;
  color: var(--white);
  font-size: 1.8rem;
  cursor: pointer;
  transition: all .4s;
}

.arr_container:hover{
  background: var(--hover-white);
}

.cancel:hover{
  background: var(--hover-white);
}


.center-skills{
  top: 50%;
  left: 0;
  position: relative;
  transform: translateY(-50%);
}

.off{
  transform: translate(-100%, 100%) rotate(90deg);
}

.arr_container i{
  transform: rotate(45deg);
  color: var(--white);
}

.left_container p {
  text-align: left;
  margin-bottom: 25px;
  font-size: 1.8rem;
  text-transform: uppercase;
}




.left_container .skills div{
  display: inline-block;
  border: 1px solid var(--hover-white);
  border-radius: 8px;
  color: var(--white);
  padding: 5px 10px;
  font-size: .9rem;
  margin: 6px 4px 10px 0;


  cursor: pointer;
}

.skills div:hover{
  background: var(--hover-white);
  transition: all .4s;

}

.left_container .icons{
  font-size: 1.6rem;
  margin-top: 10px;
}


.left_container .icons i{
  color: var(--white);
  cursor: pointer;
  margin-right: 10px;
  transition: all .4s;
}

.left_container .icons i:hover{
  color: var(--hover-white);
}


