body{
    margin: 0 ;
    padding: 0;
}

.image-container {
    margin: 0;
    width: 100%; /* Ajuste o tamanho conforme necessário */
    height: 100vh; /* Ajuste o tamanho conforme necessário */
    overflow: hidden; /* Oculta qualquer parte da imagem que exceda as dimensões do contêiner */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    
}

img {
    width: 130%;
    height: 130%;
    opacity: 98%;
    filter: blur(200px); /* Ajuste o valor para controlar a quantidade de desfoque */
    animation: rotate 100s linear infinite; /* Adicione a animação de rotação */

}

.image-container::before,
.image-container::after {
    content: "";
    position: relative; /* Permite posicionamento absoluto dos pseudo-elementos */
    width: 100vh; /* Ajuste a largura do brilho nas extremidades */
    height: 100vh;
    background: rgba(255, 255, 255, 0.6); /* Ajuste a cor e a opacidade do brilho */
}

.image-container::before {
    left: 0;
    top: 0;
}

.image-container::after {
    right: 0;
    top: 0;
}

h1{
    color: #000;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg); /* Rotação inicial de 0 graus */
    }
    100% {
        transform: rotate(360deg); /* Rotação completa de 360 graus */
    }
}