/* animations */

@-webkit-keyframes linearGradient {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}
@-moz-keyframes linearGradient {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}
@keyframes linearGradient {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background: linear-gradient(270deg, #8d00bf, #009bbf, #ff9b2a, #2cff4b);
  background-size: 600% 600%;

  -webkit-animation: linearGradient 40s ease infinite;
  -moz-animation: linearGradient 40s ease infinite;
  animation: linearGradient 40s ease infinite;
}